.image
{
    background-image: url('../../../src/resources/images/upv2_e1.png');
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description
{
    height: 100vh;

    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descriptionText
{
    font-size: 1.4em;
    color: rgba(4,83,21,1);
}

.center-fit
{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.caption
{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border
{
    background-color: rgba(4,83,21,1);
    color: antiquewhite;
    padding: 6px;
    font-size: 30px;
    letter-spacing: 8px;
}
