.sketchy-history {
    width: 100%;
    padding: 1rem 2rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 1.2rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
}